spring:
  datasource:
    url: jdbc:mysql://localhost:3306/apna_baazar_db?createDatabaseIfNotExist=true
    username: root
    password: akshat123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true


