spring:
  config:
    import: classpath:env.properties

  datasource:
    url: jdbc:mysql://localhost:3306/apna_baazar_db?createDatabaseIfNotExist=true
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        use_sql_comments: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SPRING_MAIL_USERNAME}
    password: ${SPRING_MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  data:
    redis:
      port: 6379
      host: localhost

  servlet:
    multipart:
      enabled: true
      max-file-size: 5MB
      max-request-size: 5MB

jwt:
  secret: ${JWT_SECRET}
  expiration:
    activation: 10800000
    access: 10800000000
    reset: 900000
    refresh: 86400000

logging:
  level:
    org:
      springframework:
        web: debug
        security: debug

apnabaazar:
  admin:
    email: ${APNABAAZAR_ADMIN_EMAIL}
    password: ${APNABAAZAR_ADMIN_PASSWORD}

aws:
  credentials:
    access-key: ${AWS_CREDENTIALS_ACCESS_KEY}
    secret-key: ${AWS_CREDENTIALS_SECRET_KEY}
  region:
    static: ${AWS_REGION_STATIC}
  s3:
    bucket: ${AWS_S3_BUCKET}
    default-seller-image: https://${AWS_S3_BUCKET}.s3.amazonaws.com/users/seller_default.jpg
    default-customer-image: https://${AWS_S3_BUCKET}.s3.amazonaws.com/users/seller_default.jpg

server:
  port: 8080
